@import "tailwindcss";

html,
body {
  height: 100%;
  display: flex;
  flex-direction: column;
}

@layer utilities {
  .animate-box {
    animation: moveBox 3s infinite;
  }

  .animate-rabbit {
    animation: jumpRabbit 1.5s infinite;
  }

  @keyframes moveBox {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(200px);
    }
    100% {
      transform: translateX(0);
    }
  }

  @keyframes jumpRabbit {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-25px);
    }
    100% {
      transform: translateY(0);
    }
  }
}
